body {
    color: rgb(58);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
  }
  
  .heading-container {
    text-align: center;
    margin-top: 20px;
    color: black;
    background-color: burlywood;
  }
  
  .main-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1em;
    padding: 0.5em;
    margin: 0 auto;
    
    background-color: bisque;
   
  }
  
  .container {
    background-color: khaki;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    
    
  }